<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/T_reset.css">
    <link rel="stylesheet" href="../asset/css/T_container.css">
    <link rel="stylesheet" href="../asset/css/T_carteRessource.css">
    <img id="fondecran" class="fondecran" src="../asset/img/T_fond-maquette3.png">
    <title>Carte Histoire Du Soir</title>
</head>
<body>
    <div id="container">
        <header>
                
            <div>
                <img src="../asset/img/T_logo.png" alt="logo now no stress">
            </div>

        </header>

        <div id="content">
            
            <section id="carte">

                <div id="img-carte">
                    <img src="../asset/img/T_histoires.png" alt="pile de livre">
                </div>

                <div>
                    <h2>Histoire Du Soir : </h2>
                </div>

                <div>
                    <p id="para">
                        Lorsque l'on a du mal à s'endormir il arrive que cela se manifeste avec des pensées que l'on rumine, "on arrive pas à arrêter son cerveau". 
                        Dans ces cas là, un peu comme lorsque nous étions enfant, une histoire peut aider à lâcher prise. Elle permet à l'esprit de s'évader et abandonner le stress quotidien sans trop stimuler les neurones. Installez-vous confortablement, diminuez au maximum la luminosité de l'écran de votre appreil, respirez et fermez les yeux. Bonne nuit.
                </p>
                </div>

                <div class="bouton">
                    <button class="classic-btn" id="histoire-btn">Commencer</button>
                </div>

            </section>

            <section id="liens">
                
                <div id="retour">
                    <a><svg class="icone-retour" xmlns="http://www.w3.org/2000/svg" width="69.874" height="69.874" viewBox="0 0 69.874 69.874">
                        <path id="Icon_awesome-chevron-circle-left" data-name="Icon awesome-chevron-circle-left" d="M35.5,70.436A34.937,34.937,0,1,1,70.436,35.5,34.931,34.931,0,0,1,35.5,70.436ZM19.454,37.894,38.542,56.983a3.367,3.367,0,0,0,4.776,0l2.395-2.395a3.367,3.367,0,0,0,0-4.776L31.4,35.5,45.713,21.187a3.367,3.367,0,0,0,0-4.776l-2.395-2.395a3.367,3.367,0,0,0-4.776,0L19.454,33.1A3.384,3.384,0,0,0,19.454,37.894Z" transform="translate(-0.562 -0.562)" fill="rgba(255,255,255,0.53)"/>
                      </svg></a>
                </div>
                <div id="creer-compte">
                    <p>Pas de compte?</p>
                    <p><a href="http://localhost/Projet_now_no_stress/NNS_Thais/views/T_createaccount.php">Créer un compte ici</a></p>
                </div>
                    
            </section>
                
        </div>    
            
        <footer>

        </footer>
        

        </div>
        <script src="../asset/script/T_versHistoireDuSoir.js"></script>
</body>
</html>