<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/T_reset.css">
    <link rel="stylesheet" href="../asset/css/T_container.css">
    <link rel="stylesheet" href="../asset/css/T_carteMeditation.css">
    <img id="fondecran" class="fondecran" src="../asset/img/T_fond-maquette3.png">
    <title>Carte Méditation</title>
</head>
<body>
    <div id="container">
        <header>
                
            <div>
                <img src="../asset/img/T_logo.png" alt="logo now no stress">
            </div>

        </header>

        <div id="content">
            
            <section id="carte">

                <div>
                    <img src="../asset/img/T_meditation.jpg" alt="dame qui medite">
                </div>

                <div>
                    <h2>Méditation : </h2>
                </div>

                <div>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatem tempora sint, 
                    vitae officia illum aliquid temporibus provident. 
                    Quisquam maxime pariatur dolores 
                    inventore placeat consectetur sit ab error quo, at ea?
                    Nam ipsum quo rerum ea modi debitis facilis.
                </p>
                </div>

                <div class="bouton">
                    <button class="classic-btn">Commencer</button>
                </div>

            </section>

            <section id="liens">
                
                <div id="retour">
                    <a><img class="icone-retour" src="../asset/img/T_retour.png" alt="icone-precedent"></a>
                </div>
                <div id="creer-compte">
                    <p>Pas de compte?</p>
                    <p><a>Créer un compte ici</a></p>
                </div>
                    
            </section>
                
        </div>    
            
        <footer>

        </footer>
        

        </div>
    
</body>
</html>