<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/reset.css">
    <link rel="stylesheet" href="../asset/css/container.css">
    <link rel="stylesheet" href="../asset/css/createaccount.css">
    <img id="fondecran" class="fondecran" src="../asset/img/fond-maquette2.png">
    <title>Créer un Compte</title>
</head>
<body>
    <div id="container">
        <header>
                
            <div>
                <img src="../asset/img/logo.png" alt="logo now no stress">
            </div>

        </header>
        <div id="content">
            <section>
                <div id="titre">
                    <h2>Créer mon compte</h2>
                </div>
            </section>    
            <section>
                <div id="formu">
                    <div class="demi-form">
                        <article id="radio">
                            <div>
                                <label for="f">F</label>
                                <input id="f" name="f" type="radio">
                            </div>
                            <div>    
                                <label for="h">H</label>
                                <input id="h" name="h" type="radio">
                            </div> 
                            <div>  
                                <label for="x">X</label>
                                <input id="x" name="x" type="radio">
                            </div> 
                        </article>
                        
                        <article id="formu-part-1">
                            <input type="text">
                            <input type="text">
                            <input type="date">
                        </article>
                        
                    </div>
                    <div class="demi-form">
                        <article id="formu-part-2">
                            <input type="email">
                            <input type="password">
                            <input type="password">
                        </article>
                        
                    </div>
                </div>
            </section>    
            <section>
                <div id="bouton">
                    <button class="classic-btn" type="submit">Créer mon compte</button>
                </div>
            </section>
                
        </div>
        <footer> 
            <p>Footer</p> 
        </footer>
    </div>
            
</body>
</html>