<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/C_reset.css">
    <link rel="stylesheet" href="../asset/css/C_angoisserdesecoucher.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <img id="fond" src="../asset/img/autre1.png" alt="">
    
    
            <header>
                <div >
                    <section id="logo"><img src="../asset/img/MicrosoftTeams-image (6).png" alt="" height="60px" width="300px"></section>
                </div> 
            </header> 
    
            <h1> Etes-vous angoissée à l'idée d'aller vous coucher?  </h1>
    <main>
        <button id="btn-oui"> Oui</button>
    
        <button id="btn-non">Non</button>
    

    
    </main>
    
    
    
    </div>
    
    <div>
        
    <img id="sparrow" src="../asset/img/fleche retour.png" alt="">
    
    <p>Pas de compte? <br>
        Créez un compte ici</p>
    </div>
    <script src="../asset/script/C_angoisserdececoucher.js"></script>
</body>
</html>