<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/C_reset.css">
    <link rel="stylesheet" href="../asset/css/C_pulsationrespiration.css">
    <title>Document</title>
</head>
<body>

    <div id="container">
        <img id="fond" src="../asset/img/autre1.png" alt="">
    
    
            <header>
                <div >
                    <a href="/NNS_Thais/T_index.html">  <section id="logo"><img src="../asset/img/MicrosoftTeams-image (6).png" alt="" height="60px" width="300px"></section></a>
                    <section><img id="burger" src="../asset/img/Menu-burger new.png" alt=""></section>
                </div>
            </header> 
    
            <main>
            <div id="back_content">
                <div class="blob"></div>
        
            </div>
            </main>

            <a href="/NoStress_zahra/views/ceQuiVousAmene.html"><img  id="sparrow" src="../asset/img/retour new.png" alt=" fleche retour">
            </a>
            <a href="/NNS_Thais/views/T_createaccount.html">
                <p id="connect">Pas de compte? <br>
                    Créez un compte ici</p>
                </a>
</body>
</html>