<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/C_reset.css">
    <link rel="stylesheet" href="../asset/css/C_respirationProfonde.css">
    <title>Document</title>
</head>
<body>

    <div id="container">
        <img id="fond" src="../asset/img/autre1.png" alt="">
    
    
            <header>
                <section>
                    <div >
                        <a href=http://localhost/Projet_now_no_stress/NNS_Thais/T_index.php>   <section id="logo"><img src="../asset/img/MicrosoftTeams-image (6).png" alt="" height="60px" width="300px"></section></a>
                        <!-- <section><img id="burger" src="../asset/img/Menu-burger new.png"   alt=""></section> -->
                        <button class="burger"onclick="show()"><img src="../asset/img/Menu-burger new.png" alt="" id="menuBurger"></button>
                
                    </div>
                </section>

                <div class="navBar">
                    <h3>Menu</h3><br>
                    <nav>
                            
                        <ul>
                            <li><a href="/NoStress_zahra/views/aPropos1.html">A propos de Now no Stress</a></li>
                            <li><a href="#">Découvrir (Essai rapide)</a></li>
                            <li><a href="#">Connectez-vous</a></li>
                            <li><a href="#">Créez un compte</a></li>
                        </ul>
                    </nav>
                </div>
            </header> 
    
            <main>
            <div id="back_content">
                <img id="yoga-pic" src="../asset/img/pngtree-hand-drawn-cute-girl-practice-yoga-png-image_2174532.jpg" alt="" height="150px" width="150px">
                <h1 class="TitreRespiration">Respiration Profonde :  </h1>
                <p class="ParaRespiration">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cupiditate asperiores <br>voluptas quaerat officiis illum ullam corporis nam mollitia quia? <br>Fugiat, veniam reiciendis <br>eveniet ullam tenetur similique deleniti quibusdam dolor!</p>

                <button id="start"> Commencer</button>
            </div>
            </main>

            <a href="/NOWS_Chaimae/views/C_CombiendeTemps.html"><img  id="sparrow" src="../asset/img/retour new.png" alt=" fleche retour">
            </a>
            <p class="PasCompte">Pas de compte? <br> 
                <a href="/NNS_Thais/views/T_createaccount.html">
               <span id="crée"> Créez un compte ici</span></p>
            </a>
                <script src="../asset/script/C_RespirationProfonde.js"></script>
</body>
</html>