:root{
    --classic-btn:#E58D6D;
    --color-content:white;
    --background-carte : #525d9175; 
}
/**Concernant le fond d'écran*/
/**************************************************/
#fondecran {
    /* Fixe l'image en haut à gauche de la page */
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    
}

/**Concernant l'entièreté du container*/
/**************************************************/
#container{
    font-family: dosis;

    position: absolute;
    width: 100%;

  
    
}
/** Concernant le header */ 
/**************************************************/
header{
    height: 150px;
} 

header > div > img{
    
    width: 20%;
    object-fit: cover;
    padding-left: 2%;
    padding-top: 2%;
}

/**Concernant le content */
/**************************************************/

/*todo Concernant le content-général */
/*todo *******************************/
#content{
    width: 100%;
    height: 100vh;
    color: var(--color-content);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
#content > section{
    padding-top: 2%;
    padding-bottom: 2%;
}

/*todo Concernant la section carte*/
/*todo *****************************/

#carte{
    width: 60%;
    padding: 3%;
    background-color: var(--background-carte);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#carte > div{
    padding: 2%;
}
#carte > div > h2{
    font-size: 2rem;
}
#carte > div > p {
    text-align: center;
}

#carte > div > img{
    border-radius: 100%;
    width: 40%;
    object-fit: cover;
}
#img-carte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bouton{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*todo Concenrant la section liens */
/*todo *********************************/

#liens{
width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#retour{
    width: 3%;
}
.icone-retour{/*!!!!!!!!!!!!! Arranger l'icone de retour */
    
    max-width: 100%;
    object-fit: cover;
} 
.icone-retour:hover{
    fill: #784B67;
       
}
#creer-compte > p > a{
    text-decoration: underline;

}
#creer-compte{
    text-align: center;
}


/*todo Les Boutons */
/*todo *********************************/

.classic-btn{
    border: none;
    border-radius: 15px;
    color: var(--color-content);
    background-color: var(--classic-btn);
    opacity: 83%;
    font-size: 1.5rem;
    
    padding: 2%;
    width: 55%;
}
.classic-btn:hover{
    background-color: white;
    color: #E58D6D;
}
