:root{
    --classic-btn:#E58D6D;
    --color-content:white;
    --background-carte : #525d9175;
    --color-shadow-dark : #1d1e2e;

}
/*~ Concernant le fond d'écran*/
/*~ ************************************************/
#fondecran {
    /* Fixe l'image en haut à gauche de la page */
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    
}

/*~Concernant l'entièreté du container*/
/*~ ************************************************/
#container{
    font-family: dosis;

    position: absolute;
    width: 100%;
}
/*^ Version mobile container */
@media screen and (max-width:576px)
{
    #container{
        width: 100%;
    }
}
    

/*~ Concernant le header */ 
/*~ ************************************************/
header{
    width: 100%;
    height: 20vh;
} 
header > section{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header >  section > div > a > img{
    
    width: 35%;
    object-fit: cover;
    padding-left: 3%;
    padding-top: 3%;
}
/*^ Version mobile header */
@media screen and (max-width:576px)
{
    
    header >  section > div > a> img{
        width: 50%;
        padding-left: 4%;
        padding-top: 4%;
        object-fit: cover;

    }
}
/*& Concernant le menu burger */
/*& ***************************/
a , button{
    cursor: pointer;
    text-decoration: none;
}
a{
    color: white;
}

.navBar{
    position:fixed;
    right: -500px;
    width: 350px;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #585e91;
    transition: 0.5s;
}   
.navBar h3{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

.navBar ul li{

    color: white;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;
}
.navBar ul{
    margin-bottom: 50px;
}
#menuBurger{
   
    position: fixed; 
    top: 50px;
    right: 20px;
    color: white;
    margin-right: 100px;
    height: 40px; 
    /* transition: 0.5; */

}

.burger{
    /* position: fixed; */
    top: 5%;
    left: 95%;
    width: 30px;
    color: white;
    height: 30px;
    border: 0;
    background: 0 0; 
 
}
/*^Version Mobile menu burger*/
@media screen and (max-width:576px)
{
    #menuBurger{
        align-self: flex-end;
    }

}

.navBar.active{
    right: 0;
}

/*~ Concernant le content */
/*~ ************************************************/

/*& Concernant le content-général */
/*& *******************************/
#content{
    width: 100%;
    height: 80vh;
    color: var(--color-content);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

/*& Concernant la section carte*/
/*& *****************************/

#carte{
    width: 60%;
    padding: 2%;
    background-color: var(--background-carte);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} /*^Version mobile carte*/
@media screen and (max-width:576px)
{
    #carte{
        width: 70%;
    }
}

#carte > div{
    padding: 1%;
} 
/*^Version Mobile  padding carte*/
@media screen and (max-width:576px)
{
    #carte > div{
       padding: 5%;
    }
}

#carte > div > h2{
    font-size: 2.5rem;
}
/*^Version Mobile taille titres carte */
@media screen and (max-width:576px)
{
    #carte > div > h2{
        font-size: 2rem;
    }
}

#carte > div > p {
    text-align: center;
    
}
#para{
    font-size: 1.5rem;
}
/*^Version Mobile paragraphe */
@media screen and (max-width:576px)
{
    #para{
        font-size: 1.2rem;
    }
}

.bouton{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*& Concernant l'image sur Carte */
/*& ***********************************/


#img-carte{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#img-carte-ressource{
    width: 25%;
    height: auto;
    border-radius:100%;
}
/*^Version Mobile Img-Carte */
@media screen and (max-width:576px)
{
    #img-carte-ressource{
        width: 60%;
        /*! je n'arrive pas à les recentrer */
    }
}

/*& Concenrant la section liens */
/*& *********************************/

#liens{
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#retour{
    width: 4%;
}
.icone-retour{ 
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
}
.icone-retour:hover{
    background-color: #784B67;
    
}
#creer-compte > p > a{
    text-decoration: underline;
    color: white;

}
#creer-compte{
    text-align: center;
    font-size: 1.5rem;
}
/*^Version Mobile creer compte */
@media screen and (max-width:576px)
{
    #creer-compte{
        font-size: 1.2rem;
    }
}


/*& Les Boutons */
/*& *********************************/

.classic-btn{
    border: none;
    border-radius: 15px;
    color: var(--color-content);
    background-color: var(--classic-btn);
    opacity: 83%;
    box-shadow: 3px 3px 6px var(--color-shadow-dark);
    font-size: 1.5rem;
    
    padding: 2%;
    width: 200px;
}
.classic-btn:hover{
    background-color: white;
    color: #E58D6D;
}
/*! vérifier pourquoi le hover ne finctionne pas sur la version mobile*/
