:root{
    --classic-btn:#E58D6D;
    --color-content:white;
    --color-shadow:#585e91; 
}
/**Concernant le fond d'écran*/
/**************************************************/
#fondecran {
    /* Fixe l'image en haut à gauche de la page */
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    
   }

   /**Concernant l'entièreté du container*/
/**************************************************/
#container{
    font-family: dosis;

    position: absolute;
    width: 100%;

  
    
}
/** Concernant le menu burger */
/*************************************************/
a , button{
    cursor: pointer;
    text-decoration: none;
}

nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}
.navBar{
    position:fixed;
    right: -500px;
    /* left: 900px; */
    width: 350px;
    height: 100%;
    background-color: #585e91;
    transition: .5s;
}
.navBar h3{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.navBar ul li{

    color: white;
    text-align: right;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;
}
#menuBurger{
   
    position: fixed;
    top: 50px;
    right: 20px;
    color: white;
    margin-right: 100px;
    height: 40px;

}
.burger{
    position: fixed;
    top: 5%;
    left: 95%;
    width: 30px;
    color: white;
    height: 30px;
    border: 0;
    background: 0 0; 
}
.navBar.active{
    right: 0;
}
/** Concernant le header */ 
/**************************************************/
header{
    height: 150px;
} 

header > div > img{
    
    width: 20%;
    object-fit: cover;
    padding-left: 2%;
    padding-top: 2%;
}

/**Concernant le content */ 
/**************************************************/
#content{
    width: 100%;
    height: 70vh;
    color: var(--color-content);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*todo Concernant les titres */
/*todo ***************************/   

#titres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#titres > h2{
    padding-right: 2%;
    font-size: 2rem;
}
/*todo Concernant le login */
/*todo **************************/
#content-login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#login{
    
    width: 25%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
#login > div{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#content > div > form > div > input{
    border: none;
    border-radius: 3em;
    padding: 5%;
    margin: 10px;
    width: 70%;
}
/*todo Concernant l'essai */
/* todo ***************************/

#essai{
    
    width: 25%;
    height: 500px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#essai-btn{
    margin-bottom: 40%;
} 

#content > div > form > div > p > a{
    color: white;
    text-decoration: underline;
}
/** Concernant les boutons /*
/****************************************************/
.classic-btn{
    border: none;
    border-radius: 15px;
    color: var(--color-content);
    background-color: var(--classic-btn);
    opacity: 83%;
    font-size: 1.5rem;
    box-shadow: 5px 5px 10px var(--color-shadow);

    padding: 2%;
    width: 55%;
}
.classic-btn:hover{
    background-color: white;
    color: #E58D6D;
    
}
#creer-compte{
    text-align: center;
    font-size: 1.5rem;
}
/**Concernant le footer */
/****************************************************/

/* footer{
    height: 150px;
    width: 100%;
    background-color: white;
} */