body{

 

    text-align: center;
    font-family: dosis;
}


#fond{
 /* Fixe l'image en haut à gauche de la page */
 position: fixed; 
 top: 0; 
 left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;
}

/* ---------------------Header---------------- */

/* div{
    width: 100%;
    height: 200px;
} */
section#logo{

position: fixed;  
  margin: 2%; 
width: 35%;
    object-fit: cover;
    padding-left: 3%;
    padding-top: 3%;

   
} 
/*~  Concernant le header */ 
/*~ ************************************************/
header{
    width: 100%;
    height: 20vh;
} 
header > section{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header >  section > div > a > img{
    position: fixed;
    width: 15%;
    object-fit: cover;
    padding-left: 1.5%;
    padding-top: 1.5%;
}
a , button{
    cursor: pointer;
    text-decoration: none;
}
a{
    color: white;
}

/* ------------Menu Burger---------------- */

.navBar{
    position:fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    /* margin-top: 10%; */
    background-color:#80629be3;
    transition: 0.5s;
}   
.navBar h3{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.navBar ul li{

    color: white;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;
}
#menuBurger{
   
    position: fixed; 
    top: 50px;
    right: 20px;
    color: white;
    margin-right: 100px;
    height: 40px; 
    
}
.burger{
    top: 5%;
    left: 95%;
    width: 30px;
    color: white;
    height: 30px;
    border: 0;
    background: 0 0; 
 
}
.navBar.active{
    right: 0;
}


/* #burger{
   
    position: fixed;
    top: 50px;
    right: 20px;
font-size: 20px;
font-weight:500;
text-decoration: underline 1px;
    color: white;
   margin-right: 100px;
 
   height: 40px;

} */


/* --------------Corps de Page--------- */

h1.TitreProbleme{
    color: white;
    font-size: 50px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
button#btn1  ,#btn2 , #btn3{

  
    justify-content: center;
    background-color: #E58D6D;
    position: relative;
    height: 100px;
    width: 500px;
    margin: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 6px #1d1e2e; 
    
}
main.MainChaimae{
    display: flex;
    flex-direction: column;
    align-items: center;


}

#crée {
    text-decoration: underline ;
}
p.PasCompte{
    position: absolute;
    bottom: 50px;
    right: 20px;
font-size: 1.5rem;
text-decoration: underline 1px;
    color: white;
   margin-right: 100px;
   margin-bottom: 50px;
}

    #sparrow{
  
        position: absolute; 
         bottom: 80px; 
         left: 100px; 
         
    }

.footSom{
        height: 200px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.425);
        position:relative;
        margin-top: 150px;
    }


    /* --------------------Parti : Angoisse de ce coucher------------ */



    
    #btn-oui, #btn-non{

  

        
        justify-content: center;
        background-color: #E58D6D;
        position: relative;
        height: 80px;
        width: 150px;
        margin: 20px;
        color: white;
        border:none;
        border-radius: 15px;
        font-size: 2rem;
        box-shadow: 3px 3px 6px #1d1e2e; 
    }
    
    #btn-oui:hover , #btn-non:hover{
        background-color: white;
        color: #E58D6D;
    }

    h1.titreAngois {
        color: white;
        font-size: 50px;
        text-align: center;
        position: relative;
      margin-bottom: 80px;
    }

    .footang{
        height: 200px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.425);
        position:relative;
        margin-top: 390px;
    }

    /* ----------------------Parti : Combien de temps disposez-vous -----------------------*/

    h1.TitreCombien {
        color: white;
        font-size: 50px;
        text-align: center;
        position: relative;
        padding-bottom: 100px;
    }
    
    .footComb{
        height: 200px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.425);
        position:relative;
        margin-top: 800px;

    }
    
    /* ---Button */
    
     #btn-moin-30 , #btn-plus-30{
    
      
        justify-content: center;
        background-color: #E58D6D;
        position: relative;
        height: 80px;
        width: 200px;
        margin: 30px;
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 2rem;
        box-shadow: 3px 3px 6px #1d1e2e; 
        
    }
    
    #btn-moin-30:hover , #btn-plus-30:hover{
        background-color: white;
        color: #E58D6D;
    }

    /* ----------Partie : Respiration avec Pulsation------------------ */

    .blob {
        background: rgba(236, 231, 231, 0.747);
        border-radius: 50%;
        margin-left: 40%;
        margin-top: 50px;
        height: 200px;
        width: 200px;
    
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(3);
        animation: pulse 8s infinite;
        animation-duration: 12s;
        /* animation-delay: 1s; */
        /* animation-delay: 2.1s, 900ms; */
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgb(187, 183, 183);
            
            
        }

        70% {
            transform: scale(2);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
    
    
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            
          
        }

    }
    
    .footPulsa{
        height: 150px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.425);
        position:relative;
        margin-top: 550px;
    }

    /* --------------Partie : Respiration profonde -----------*/

    h1.TitreRespiration{
        position: relative;
        color: white;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 50px;
        /* text-decoration: underline 2px; */
    }

    .footRespir{
        height: 200px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.425);
        position:relative;
        margin-top: 280px;
    }
    p.ParaRespiration{
        position: relative;
        color: white;
        font-size: 1.5rem;
    }

 #back_content{

        background-color: #525d9175;
        position: relative;
        height: 550px;
        width: 50%;
    margin-left: 25%;
    border-radius: 30px;  
    
    }
    
    #yoga-pic{
    
        border-radius: 80px;
        margin-top: 15px;
    }
    #start{
        justify-content: center;
        position: relative;
        font-size: 1.5rem;
        color: white;
        border-radius: 15px ;
        border-style:  solid;
        border-color:white;
        background-color: #E58D6D;
        margin-top: 50px;
        padding: 10px;
        box-shadow: 3px 3px 6px #1d1e2e;
        border: none;
        height: 50px;
        width: 180px;
        
    }