body{
    font-family: dosis;
    background-image: url(../img/ciel\ officiel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: auto;
}   

#logo{

    width: 300px;
    height: 60px;
    margin: 20px;
    
}
#menuBurger{
   
    position: fixed;
    top: 50px;
    right: 20px;
    color: white;
    margin-right: 100px;
    height: 40px;

}

h2 {
    color: white;
    font-size: 70px;
    padding-top: 80px;
    text-align: center;
    margin-top: -20px;
}

.reponses{

  
    justify-content: center;
    background-color:#6A6F92;
    height: 80px;
    width: 350px;
    margin: 30px;
    color: white;
    border:1.5px solid grey;
    box-shadow: 5px 5px 10px black; 
    border-radius: 15px;
    font-size: 30px;
    /* margin-left: 40%; */
    
}
.containt{
    color: white;
    font-size: 2.5rem;
    padding: 20px;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    border:none;
    border-radius: 15px;
    background-color:#4b548136;


}
#basPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.pasDeCompte{ 
    font-size: 20px;
    color: white;
    margin-right: 70px;
   

}
.retour{
    margin-left: 70px;
}
a{
    color: white;
}


