 body{
    font-family: dosis;
    background-image: url(../img/ciel\ officiel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.solutions{     /******* classe solution du body des pages avec fond foncé*****/
    font-family: dosis;
    background-image: url(../img/fond-ecran-sombre.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.anxiete{
    font-family: dosis;
    background-image: url(../img/fondAnxiete.png);
    background-repeat: no-repeat;
    background-size: cover;
}
a , button{
    cursor: pointer;
    text-decoration: none;
}
a{   /********* j'ai mis les lien en blanc car ils sont bleu par défaut*********/
    color: white;
}

.navBar{
    position:fixed;
    right: -500px;
    width: 350px;
    /* height: 80%; */
    margin-bottom: 10%;
    margin-top: 18%;
    background-color: #585e91;
    transition: 0.5s;
}  
.navBar-solutions{  /*********** classe solution pour la navbar des pages au fond anxieté car la couleur de la navbar change**********/
    position:fixed;
    right: -500px;
    width: 350px;
    /* height: 100%; */
    margin-top: 18%;
    margin-bottom: 10%;
    background-color:#525d91ec;
    transition: 0.5s;
} 
.navBar h3{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}
.navBar-solutions h3{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

.navBar ul li{

    color: white;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;
}
.navBar ul{
    margin-bottom: 50px;
}
.navBar-solutions ul{
    margin-bottom: 50px;
}
.navBar-solutions ul li{
  
    color: white;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;  
}
#menuBurger{
   
    position: fixed; 
    top: 50px;
    right: 20px;
    color: white;
    margin-right: 100px;
    height: 40px; 
}

.burger{
    top: 5%;
    left: 95%;
    width: 30px;
    color: white;
    height: 30px;
    border: 0;
    background: 0 0; 
 
}

.navBar.active{
    right: 0;
}
.navBar-solutions.active{
    right: 0;
}
header{
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* align-content: center; */
}
.container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    
}

#logo{
    /* width: 300px;
    object-fit: cover;
    /* height: 60px; */
    /* margin-top: 10%; 
    margin-left: 10%;   */
    width: 35%;
    object-fit: cover;
    padding-left: 3%;
    padding-top: 3%;
}

/* 
.main{
    width: 100%;
    height: 700px;
} */
h2{   
    color: white;
    font-size: 50px;
    /* padding-top: 60px;
    padding-bottom: 40px; */
    margin-bottom: 3%;
    text-align: center; 
}

#img-relax{
    width: 250px;
    height:250px ;
    border-radius: 50%; 
    
}
#imageRelax{

    padding-bottom: 0%; 

}

.containt{
    color: white;
    font-size: 1.5rem;
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    border:none;
    border-radius: 30px;
    background-color:#525d9175;
}

.containt-relax{
    color: white;
    font-size: 1.5rem;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    text-align: center;
    border:none;
    border-radius: 30px;
    background-color:#525d9175;
}
.containt-solutions{
    color: white;
    font-size: 1.5rem;
    /* padding: 20px; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    /* border:none;
    border-radius: 15px;
    background-color:#535e913b; */
}
.containt > p{
    font-size: 1.5rem;
}
.containt-relax > p{
    font-size: 1.5rem;
}

.containt-solutions > p{
    font-size: 1.5rem;
}
.audio{
    margin-top: 40%;
}
.video{
    width: 70%;
    /* height: 80%; */
    object-fit: cover;


}
.btn-questionnaire{
    background-color: #E58D6D;
    height: 70px;
    width: 230px;
    margin: 30px;
    color: white;
    border: none;
    border-radius:15px;
    box-shadow: 3px 3px 6px #585e91;
    font-size: 1.5rem;
}

.btn-questionnaire:hover{

    background-color: white;
    
    color: #E58D6D;
    
    }

.reponses{

    justify-content: center;
    background-color:#585e9198;
    height: 80px;
    width: 350px;
    margin: 30px;
    color: white;
    border:none;
    box-shadow: 3px 3px 6px #585e91; 
    border-radius: 15px;
    font-size: 1.5rem;   

}

.reponses:hover{

    background-color: white;
    
    color: #585e9198;
    
    }

.btn-reponses{

    justify-content: center;
    background-color:#e58d6d91;
    height: 80px;
    width: 500px;
    margin: 30px;
    color: white;
    border:none;
    box-shadow: 3px 3px 6px  #44487298; 
    border-radius: 15px;
    font-size: 30px;
}
.btn-relax{

    justify-content: center;
    background-color:#e58d6d91;
    height: 70px;
    width: 230px;
    margin: 30px;
    color: white;
    border:none;
    box-shadow: 3px 3px 6px #44487298; 
    border-radius: 15px;
    font-size: 30px;
}


.btn-reponses:hover{

    background-color: white;
    
    color: #E58D6D;
    
    }

#basDePage{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 5%;
    margin-bottom: 30px;
   
}
#basPage{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 3%;
   
}
#basDePageTension{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10%;
    margin-bottom: 25px;
   
}
.retour{
    margin-left: 200px;
}
.pasDeCompte{ 
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-right: 200px;
    
}
.pasDeCompte >p >a{
    text-decoration: underline;
}

/********* Pour le responsive **********/

@media screen and (max-width : 700px) {
    body{
        height: 100vh;
    }
    .solutions{
        height: 100vh;
    }

    #logo{
    /* width: 100px;
    height: 30px;
    margin-top: 15%; 
    margin-left: 15%;   */
    width: 35%;
    object-fit: cover;
    padding-left: 3%;
    padding-top: 3%;
}
#menuBurger{

    /* position: fixed;  */
    top: 25px;
    right: 25px;
    color: white;
    margin-right: 11px;
    height: 20px;
}

.navBar{
    position:fixed;
    right: -900px; 
    width: 100%;
    /* margin-bottom: 10%; */
    margin-top: 15%;
    background-color: #585e91;
    transition: 0.5s;
}

.navBar ul{
    margin-bottom: 100px;
}
.navBar h3{
    font-size: 30px;
    padding-top: 20px;
}
.navBar-solutions{
    position:fixed;
    right: -900px;
    width: 100%;
    /* height: 100%; */
    margin-top: 45%;
    background-color:#80629b;
    transition: 0.5s;
} 
.navBar-solutions ul{
    margin-bottom: 100px;
}

.navBar-solutions h3{
    font-size: 30px;
    padding-top: 20px;
}

.container{
    width: 100%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    
}
h2{  
    font-size: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center; 
}

.containt{
display: flex;
flex-direction: column;
align-items: center; 
padding: 20px;
margin-left: 5%;
margin-right: 5%;
margin-top: 0%;
text-align: justify;
border: none;
border-radius: 15px;

}

.containt-solutions{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
}
.containt-relax{
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    font-size: 1rem;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: justify;
    border:none;
    border-radius: 15px;
    background-color:#525d9175;
}
.containt > p{
    font-size: 1rem;
}
.containt-solutions > p{
    font-size: 1rem;
}
.containt-relax > p{
    font-size: 1rem;
}
#img-relax{
    width: 150px;
    height:150px ;
    border-radius: 50%; 
    
}

.btn-questionnaire{
    background-color: #E58D6D;
    height: 40px;
    width: 130px;
    margin-top: 40px;
    color: white;
    border: none;
    border-radius:10px;
    box-shadow: 2px 2px 3px #585e91;
    font-size: 1rem;
}

.reponses{

    justify-content: center;
    background-color:#585e9198;
    height: 50px;
    width: 150px;
    margin: 20px;
    color: white;
    border:none;
    box-shadow: 2px 2px 3px #585e91; 
    border-radius: 10px;
    font-size: 1rem;
    
}
.btn-reponses{

    justify-content: center;
    background-color:#80629b70;
    height: 50px;
    width: 200px;
    margin: 20px;
    color: white;
    border:none;
    box-shadow: 2px 2px 3px #1d1e2e; 
    border-radius: 10px;
    font-size: 1rem;
}

#basDePage{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
}

#basPage{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
   
}
.retour{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.pasDeCompte{ 
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
    
}
#retourFleche{
    width: 25px;
    height: 25px;
}


}