body{
    font-family: dosis;
    background-image: url(../img/ciel\ officiel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.solutions{
    font-family: dosis;
    background-image: url(../img/fond-ecran-sombre.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a , button{
    cursor: pointer;
    text-decoration: none;
}
a{
    color: white;
}

.navBar{
    position:fixed;
    right: -500px;
    width: 350px;
    /* height: 80%; */
    margin-bottom: 10%;
    margin-top: 15%;
    background-color: #585e91;
    transition: 0.5s;
}  
.navBar-solutions{
    position:fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    margin-top: 10%;
    background-color:#80629be3;
    transition: 0.5s;
} 
.navBar h3{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}
.navBar-solutions h3{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

.navBar ul li{

    color: white;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;
}
.navBar ul{
    margin-bottom: 50px;
}
.navBar-solutions ul{
    margin-bottom: 50px;
}
.navBar-solutions ul li{
  
    color: white;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 1,5em;
    padding: 30px 30px;
    border-bottom: 1pt solid white;  
}
#menuBurger{
   
    position: fixed; 
    top: 50px;
    right: 20px;
    color: white;
    margin-right: 100px;
    height: 40px; 
}

.burger{
    top: 5%;
    left: 95%;
    width: 30px;
    color: white;
    height: 30px;
    border: 0;
    background: 0 0; 
 
}

.navBar.active{
    right: 0;
}
.navBar-solutions.active{
    right: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    
}
header{
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: row;
}
#logo{
    width: 300px;
    height: 60px;
    margin-top: 10%; 
    margin-left: 10%;  
}


.main{
    width: 100%;
    height: 700px;
}
h2{   
    color: white;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center; 
}
.h2-relax{
    color: white;
    font-size: 2.5rem;
    padding-top: 0px;
    text-align: center;
  
}
#img-relax{
    width: 250px;
    height:250px ;
    border-radius: 50%; 
    
}
#imageRelax{
    padding-bottom: 3%; 
}

.containt{
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    border:none;
    border-radius: 30px;
    background-color:#525d9175;
}

.containt-relax{
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    text-align: center;
    border:none;
    border-radius: 30px;
    background-color:#525d9175;
}
.containt-solutions{
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    /* border:none;
    border-radius: 15px;
    background-color:#535e913b; */
}
.containt > p{
    font-size: 1.5rem;
}
.containt-relax > p{
    font-size: 1.5rem;
}
/* .containt-solutions>h2{
    
    font-size: 60px;
    font-weight: lighter;
} */
.containt-solutions > p{
    font-size: 1.5rem;
}


.btn-questionnaire{
    background-color: #E58D6D;
    height: 70px;
    width: 230px;
    margin: 30px;
    color: white;
    border: none;
    border-radius:15px;
    box-shadow: 3px 3px 6px #585e91;
    font-size: 1.5rem;
}

.reponses{

    justify-content: center;
    background-color:#585e9198;
    height: 80px;
    width: 350px;
    margin: 30px;
    color: white;
    border:none;
    box-shadow: 3px 3px 6px #585e91; 
    border-radius: 15px;
    font-size: 1.5rem;
    

}

.btn-reponses{

    justify-content: center;
    background-color:#80629b70;
    height: 80px;
    width: 500px;
    margin: 30px;
    color: white;
    border:none;
    box-shadow: 3px 3px 6px #1d1e2e; 
    border-radius: 15px;
    font-size: 30px;
}

#basDePage{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 30px;
   
}
#basPage{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: center; */
    flex-wrap: nowrap;
    margin-top: 190px;
   
}
.retour{
    margin-left: 70px;
}
.pasDeCompte{ 
    font-size: 1.5rem;
    color: white;
    margin-right: 70px;
    
}
.pasDeCompte >p >a{
    text-decoration: underline;
}
