<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/aPropos1.css">
    <title>Now,No Stress</title>
</head>
<body>
   
    <div class="container">
        
        <header>
            
                <section >
                    <a href="http://127.0.0.1:5500/NNS_Thais/T_index.html"><img src="../assets/img/logo_NoStress.png" alt=""id="logo"></a>
                </section> 
                <div class="navBar">
                    <button class="burger" onclick="show()"><img src="../assets/img/menu-burger.png" alt="" id="menuBurger"></button>
                    <nav>
                        <ul>
                            <li><a href="aPropos1.html">A propos de Now no Stress</a></li>
                            <li><a href="#">Découvrir (Essai rapide)</a></li>
                            <li><a href="#">Connectez-vous</a></li>
                            <li><a href="#">Créez un compte</a></li>
                        </ul>
                    </nav>
                </div>
                      
        </header>

        <div class="main">
            <div>
                <h2>A propos de Now No Stress:</h2>
            </div>
            
            <div class="containt">
                <p>
                    Nous vous offrons l’accès à  une variété de ressources afin de mieux gérer votre stress au quotidien. De la méditation et la respiration rassemblées au sein d’un espace apaisant et doux.
                    Nous vous souhaitons un doux moment…
                </p>
                
                <button class="btn-questionnaire" id="btn-commencer">Commencer</button>
            </div>
            
        </div>
        <div id="basDePage">
            
            <div class="retour">
             <a href="http://127.0.0.1:5500/NNS_Thais/views/T_welcome.html"><img src="../assets/img/fleche-retour.png" ></a>
          </div>
            <div class="pasDeCompte">
              <p>Pas de compte?<br>
             <a href="http://localhost/Projet_now_no_stress/NNS_Thais/views/T_createaccount.php">Créer un compte ici</a></p>
            </div>
        </div>
    </div>
    

    
    <script src ="../assets/scripts/aPropos1.js"></script>
</body>
</html>