<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/ceQuiVousAmene.css">
    <title>Now,No Stress</title>
</head>
<body>
   
    <div class="container">
        
        <header>
            <a href="http://127.0.0.1:5500/NNS_Thais/T_index.html"><img src="../assets/img/logo_NoStress.png" id="logo"></a>
            <section><img src="../assets/img/menu-burger.png" alt="" id="menuBurger"></section>
        </header>
        <div class="main">
            <div>
                <h2>Qu'est ce qui vous amène sur Now No Stress?</h2>
            </div>
             
            <div class="containt">
            
                <div>        
                    <button class="reponses" id="rep1">Mon Sommeil</button>
                </div>
                
                <div>
                    <button class="reponses" id="rep2">Mon anxiété</button>
                </div>
                
                <div>
                    <button class="reponses">Des tensions</button>
                </div>
            </div>
        </div>
    
    </div>
        <div id="basPage">
            
            <div class="retour">
                <a href="aPropos2.html"><img src="../assets/img/fleche-retour.png" ></a>
            </div>
            <div class="pasDeCompte">
                <p>Pas de compte?<br>
                <a href="http://127.0.0.1:5500/NNS_Thais/views/createaccount.html">Créer un compte ici</a></p>
            </div>
        </div>
    <script src ="../assets/scripts/ceQuiVsAmene.js"></script>
</body>
</html>