<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Relaxation</title>
</head>
<body class="solutions">
    <div class="container">
        
        <header>
            <section>
                 <a href="http://127.0.0.1:5500/NNS_Thais/T_index.html"><img src="../assets/img/logo_NoStress.png" id="logo"></a>
            
                <button class="burger" onclick="show()"><img src="../assets/img/menu-burger.png" alt="" id="menuBurger"></button>
            </section>

            <div class="navBar">
                <h3>Menu</h3>
                <nav>
                    <ul>
                        <li><a href="aPropos1.html">A propos de Now no Stress</a></li>
                        <li><a href="#">Découvrir (Essai rapide)</a></li>
                        <li><a href="#">Connectez-vous</a></li>
                        <li><a href="#">Créez un compte</a></li>
                    </ul>
                </nav>
            </div>
        </header>

            <div id="imageRelax">
                <img src="../assets/img/relaxationCourte.jpg" alt="" id="img-relax">
            </div>
            <section class="containt">
                <div>
                    <audio controls="controls">
                        <source src="../assets/Medias/Z_lacherPrise.mp3">
                    </audio> 
                </div>

        </section>
           
        </div>
        
    </div>
    <div id="basDePage">
            
        <div class="retour">
            <a href="solutionAnxiete.html"><img src="../assets/img/fleche-retour.png" ></a>
        </div>
        <div class="pasDeCompte">
            <p>Pas de compte?<br>
            <a href="http://localhost/Projet_now_no_stress/NNS_Thais/views/T_createaccount.php">Créer un compte ici</a></p>
        </div>
    </div>

    
    <script src ="../assets/scripts/relaxationCourte.js"></script>
</body>
</html>