<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>yoga video</title>
</head>
<body class="solutions">
    <div class="container">
        
        <header>
            <section>
                <a href="http://localhost/Projet_now_no_stress/NNS_Thais/T_index.php"><img src="../assets/img/logo_NoStress.png" id="logo"></a>
            </section>
            <div class="navBar-solutions">
                <button class="burger" onclick="show()"><img src="../assets/img/menu-burger.png" alt="" id="menuBurger"></button>
                <nav>
                    <ul>
                        <li><a href="aPropos1.html">A propos de Now no Stress</a></li>
                        <li><a href="ceQuiVousAmene.html">Découvrir (Essai rapide)</a></li>
                        <li><a href="#">Connectez-vous</a></li>
                        <li><a href="#">Créez un compte</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div>
            <h2>Relaxation anti stress</h2>
        </div>
        
        <section class="containt-solutions">
                <div>
                    <video class="video" controls="controls">
                        <source src="../assets/Medias/méditationAntiAnxiete.mp4">
                    </video> 
                </div>

        </section>
        
    </div>
    <div id="basPage">
            
        <div class="retour">
            <a href="#"><img src="../assets/img/fleche-retour.png" ></a>
        </div>
        <div class="pasDeCompte">
            <p>Pas de compte?<br>
            <a href="http://localhost/Projet_now_no_stress/NNS_Thais/views/T_createaccount.php">Créer un compte ici</a></p>
        </div>
    </div>

    
    <script src ="../assets/scripts/yoga_video.js"></script>
</body>
</html>