<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Now,No Stress</title>
</head>
<body class="solutions">
   
    <div class="container">
        

        <header>
            <section>
                
                <a href="http://localhost/Projet_now_no_stress/NNS_Thais/T_index.php "><img src="../assets/img/logo_NoStress.png" id="logo"></a>
                <button class="burger" onclick="show()"><img src="../assets/img/menu-burger.png" alt="" id="menuBurger"></button>
            
            </section>

            <div class="navBar-solutions">
                <h3>Menu</h3>
                <!-- <nav> -->
                    <ul>
                        <li><a href="aPropos1.html">A propos de Now no Stress</a></li>
                        <li><a href="ceQuiVousAmene.html">Découvrir (Essai rapide)</a></li>
                        <li><a href="#">Connectez-vous</a></li>
                        <li><a href="#">Créez un compte</a></li>
                    </ul>
                <!-- </nav> -->
            </div>
        </header>
            <div>
                <h2>Veuillez choisir une solution</h2>
            </div>
             
        
        <div class="containt-solutions">
            
                <div>        
                    <button class="btn-reponses" id="rel" >Une relaxation</button>
                </div>
                
                <div>
                    <button class="btn-reponses" id="marche">La marche en pleine conscience</button>
                </div>

                <div>
                    <button class="btn-reponses" id="huile">Les huiles essentielles</button>
                </div>
                
        </div>
        
    
    </div>
        <div id="basPage">
            
            <div class="retour">
                <a href="ceQuiVousAmene.html"><img src="../assets/img/fleche-retour.png"  id="retourFleche"></a>
            </div>
            <div class="pasDeCompte">
                <p>Pas de compte?<br>
                <a href="http://localhost/Projet_now_no_stress/NNS_Thais/views/T_createaccount.php">Créer un compte ici</a></p>
            </div>
        </div>
    <script src ="../assets/scripts/solution-anxiete.js"></script>
</body>
</html>