<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/solutionAnxiete.css">
    <title>Now,No Stress</title>
</head>
<body>
   
    <div class="container">
        

        <header>
            <img src="../assets/img/logo_NoStress.png" id="logo">
        </header>
            <div>
                <h2>Veuillez choisir une solution</h2>
            </div>
             
        
        <div class="containt">
            
                <div>        
                    <button class="reponses" id="rel" >Une relaxation</button>
                </div>
                
                <div>
                    <button class="reponses" id="marche">La marche en pleine conscience</button>
                </div>
                
        </div>
        
    
    </div>
        <div id="basPage">
            
            <div class="retour">
                <a href="aPropos2.html"><img src="../assets/img/fleche-retour.png" ></a>
            </div>
            <div class="pasDeCompte">
                <p>Pas de compte?<br>
                <a href="http://127.0.0.1:5500/NNS_Thais/views/createaccount.html">Créer un compte ici</a></p>
            </div>
        </div>
    <script src ="../assets/scripts/ceQuiVsAmene.js"></script>
</body>
</html>